/Taller_1/Taller_1/nbproject/private/
/Taller_1/Taller_1/build/
/Taller_1/JavaApplication23/nbproject/private/
/Taller_1/JavaApplication23/build/
/Taller_1/ProblemaBacktracking/nbproject/private/
/Taller_1/ProblemaBacktracking/build/
/Taller_1/ProblemaBacktrackingCavalls/nbproject/private/
/Taller_1/ProblemaBacktrackingCavalls/build/